<form action="http://private-9a0dd-aquaauth.apiary-mock.com" class="form" id="reg" data-next="/profile">
  <input class="field" name="name" id="name" value="Романов Роман Романович" disabled>
  <label for="name" class="fieldLabel">ФИО:</label>

  <input class="fieldCard" name="card" id="card" value="66609">
  <div class="cardNumberHilder">
    <span class="cardItem">6</span>
    <span class="cardItem">6</span>
    <span class="cardItem">6</span>
    <span class="cardItem">0</span>
    <span class="cardItem">9</span>
  </div>
  <label for="card" class="fieldLabel">Карта:</label>

  <input type="tel" class="field" id="tel" name="phone" value="+7(987)333-22-11" disabled>
  <label for="phone" class="fieldLabel">Телефон:</label>
  
  <select class="fieldSelect" name="city_id" id="city">
    <option value="121">Краснодар</option>
    <option value="123">Москва</option>
  </select>
  <label for="city" class="selectLabel">Город:</label>

  <input type="email" class="field" name="email" id="email">
  <label for="email" class="fieldLabel">Email:</label>
  
  <input type="password" class="field" name="password" id="password">
  <label for="password" class="fieldLabel">Пароль:</label>
  
  <input type="password" class="field" name="password_confirmation" id="confirm">
  <label for="confirm" class="fieldLabel">Повторите пароль:</label>
  
  <input type="submit" disabled class="submit" value="регистрация">
</form>