<div class="profileInfo">
  <div class="balanceInfo">
    <span class="balanceDetail">
      Баланс карты:
    </span>
    <span class="balance">
      4 087₽
    </span>
  </div>
  <span class="profileDetails">
    Пополнить карту
  </span>
  <form action="http://private-9a0dd-aquaauth.apiary-mock.com" class="profileForm" data-next="/profile">
    <select name="card" id="card" class="card">
      <option value="00" data-balance="4615" data-number="18679"></option>
      <option value="01" data-balance="8335" data-number="24657" disabled></option>
      <option value="02" data-balance="889" data-number="31968"></option>
    </select>
    <div class="cardNumber">
    </div>
    <input type="number" id="balance" class="profileField" name="count" placeholder="Сумма к оплате">
    <input type="submit" class="profileSubmit" value="Пополнить">
  </form>
  <p class="profileDescription">
    Вы будете перенаправлены на страницу сервиса оплаты
  </p>
</div>