<div class="profileInfo">
  <div class="balanceInfo">
    <span class="balanceDetail">
      Баланс карты:
    </span>
    <span class="balance">
      4 087₽
    </span>
  </div>
  <span class="profileDetails">
    Пополнить карту
  </span>
  <form action="http://private-9a0dd-aquaauth.apiary-mock.com" class="profileForm" data-next="/profile">
    <select name="card" id="card" class="card">
      <option value="14378"></option>
      <option value="23612"></option>
      <option value="37389"></option>
    </select>
    <div class="cardNumber">
    </div>
    <input type="number" id="balance" class="profileField" name="count" placeholder="Сумма к оплате">
    <input type="submit" class="profileSubmit" value="Пополнить">
  </form>
  <p class="profileDescription">
    Вы будете перенаправлены на страницу сервиса оплаты
  </p>
</div>