<form action="http://private-1b6b1-aqualogin.apiary-mock.com" class="form" id="auth" data-next="/profile">
  <input type="tel" class="field" id="tel" name="phone">
  <label for="phone" class="fieldLabel">Номер телефона:</label>
  <input type="password" class="field" name="password" id="password">
  <label for="password" class="fieldLabel">Пароль:</label>
  <input type="checkbox" class="fieldCheck" name="save" id="save">
  <label for="save" class="checkLabel">Запомнить</label>
  <input type="submit" disabled class="submit" value="Личный кабинет">
  <p class="errorMessage"></p>
</form>