<form action="http://private-9a0dd-aquaauth.apiary-mock.com" class="login" data-next="/profile">
  <input type="tel" class="field" id="tel" name="tel">
  <label for="tel" class="fieldLabel">Номер телефона:</label>
  <input type="password" class="field" name="password" id="password">
  <label for="password" class="fieldLabel">Пароль:</label>
  <input type="checkbox" class="fieldCheck" name="save" id="save">
  <label for="save" class="checkLabel">Запомнить</label>
  <input type="submit" disabled class="submit" value="Личный кабинет">
</form>