$form-background: $blue-100;
$form-borderColor: $blue-500;

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 70px 40px 55px;
  border-radius: 24px;
  width: 300px;
  box-sizing: border-box;
  background: $form-background;
  border: 1px solid $form-borderColor;

  @include tx-media(phone) {
    width: 280px;
    padding: 70px 30px 55px;
  }

}

$field-borderColor: $blue-300;
$field-color: $gray-300;
$field-fontSize: 12px;
$field-errorColor: $red;
$field-background: $white;

%field {
  @include tx-font-size($field-fontSize, none);
  height: 33px;
  margin: 0 0 25px;
  border: 1px solid $field-borderColor;
  border-radius: 2px;
  font-weight: 300;
  color: $field-color;
}


.field {
  @extend %field;

  &-has-error {
    color: $field-errorColor;
    border-color: currentColor;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 1;
    background: $field-background;
  }

}

.fieldCard {
  display: none;
}

.cardNumberHilder {
  margin: 0 0 25px;
}

$cardItem-fontSize: 25px;
$cardItem-color: $gray-300;
$cardItem-background: $white;

.cardItem {
  @include tx-font-size($cardItem-fontSize, none);
  display: inline-block;
  border-radius: 3px;
  border: 1px solid $field-borderColor;
  color: $cardItem-color;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background: $cardItem-background;
  margin: 0 5px 0 0;
}

.fieldSelect {
  @extend %field;
  padding: 0 0 0 15px;
  box-sizing: content-box;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

}

$fieldLabel-fontSize: 12px;
$fieldLabel-color: $black-500;

%label {
  @include tx-font-size($fieldLabel-fontSize, none);
  margin: -85px 0 85px;
  text-transform: uppercase;
  color: $fieldLabel-color;
}

.fieldLabel {
  @extend %label;
}

$selectLabelArrow-color: $blue-500;

.selectLabel {
  @extend %label;
  position: relative;

  &:before,
  &:after {
    @include tx-pseudo;
  }

  &:before {
    top: 25px;
    right: 35px;
    height: 35px;
    width: 1px;
    background: $field-borderColor;
  }

  &:after {
    top: 40px;
    right: 12px;
    border: 6px solid transparent;
    border-top: 6px solid $selectLabelArrow-color;
  }

}

.fieldCheck {
  position: absolute;
  left: -10000px;

  &:checked {
    @extend %fieldCheck-is-checked;
  }

}

$checkLabel-fontSize: 12px;
$checkLabel-background: $white;
$checkLabel-borderColor: $blue-300;
$checkLabel-color: $black-500;

.checkLabel {
  @include tx-font-size($checkLabel-fontSize, none);
  position: relative;
  padding: 0 0 0 30px;
  margin: -20px 0 20px;

  &:before,
  &:after {
    @include tx-pseudo;
    top: 50%;
  }

  &:before {
    left: 0;
    margin: -8px 0 0;
    width: 15px;
    height: 15px;
    background: $checkLabel-background;
    border: 1px solid $checkLabel-borderColor;
    border-radius: 2px;
  }

  &:after {
    left: 3px;
    width: 9px;
    height: 5px;
    border-left: 2px solid $checkLabel-color;
    border-bottom: 2px solid $checkLabel-color;
    transform: rotate(-45deg) translateZ(0);
    margin: -7px 0 0;
    opacity: 0;
  }

  %fieldCheck-is-checked ~ & {

    &:after {
      opacity: 1;
    }

  }

}

$submit-background: $yellow;
$submit-color: $blue-700;

.submit {
  background: $submit-background;
  color: $submit-color;
  border-radius: 5px;
  height: 45px;

  &:disabled {
    opacity: .5;
  }

}

$errorMessage-background: $white;
$errorMessage-borderColor: $red;
$errorMessage-fontSize: 12px;

.errorMessage {
  @include tx-font-size($errorMessage-fontSize, none);
  position: absolute;
  top: 100%;
  left: 50%;
  width: 200px;
  box-sizing: border-box;
  padding: 15px;
  margin: -35px 0 0 -100px;
  background: $errorMessage-background;
  border: 1px solid $errorMessage-borderColor;
  border-radius: 2px;
  opacity: 0;
  font-style: italic;

  &-is-active {
    opacity: 1;
  }

}