$login-background: $blue-100;
$login-borderColor: $blue-500;

.login {
  display: flex;
  flex-direction: column;
  padding: 70px 40px 55px;
  border-radius: 24px;
  width: 300px;
  box-sizing: border-box;
  background: $login-background;
  border: 1px solid $login-borderColor;

  @include tx-media(phone) {
    width: 280px;
    padding: 70px 30px 55px;
  }

}

$field-borderColor: $blue-300;
$field-fontSize: 12px;
$field-errorColor: $red;

.field {
  @include tx-font-size($field-fontSize, none);
  height: 33px;
  margin: 0 0 25px;
  border: 1px solid $field-borderColor;
  border-radius: 2px;
  font-weight: 300;

  &-has-error {
    color: $field-errorColor;
    border-color: currentColor;
  }

  &:focus {
    outline: none;
  }

}

$fieldLabel-fontSize: 12px;
$fieldLabel-color: $black-500;

.fieldLabel {
  @include tx-font-size($fieldLabel-fontSize, none);
  margin: -85px 0 85px;
  text-transform: uppercase;
  color: $fieldLabel-color;
}

.fieldCheck {
  position: absolute;
  left: -10000px;

  &:checked {
    @extend %fieldCheck-is-checked;
  }

}

$checkLabel-fontSize: 12px;
$checkLabel-background: $white;
$checkLabel-borderColor: $blue-300;
$checkLabel-color: $black-500;

.checkLabel {
  @include tx-font-size($checkLabel-fontSize, none);
  position: relative;
  padding: 0 0 0 30px;
  margin: -20px 0 20px;

  &:before,
  &:after {
    @include tx-pseudo;
    top: 50%;
  }

  &:before {
    left: 0;
    margin: -8px 0 0;
    width: 15px;
    height: 15px;
    background: $checkLabel-background;
    border: 1px solid $checkLabel-borderColor;
    border-radius: 2px;
  }

  &:after {
    left: 3px;
    width: 9px;
    height: 5px;
    border-left: 2px solid $checkLabel-color;
    border-bottom: 2px solid $checkLabel-color;
    transform: rotate(-45deg) translateZ(0);
    margin: -7px 0 0;
    opacity: 0;
  }

  %fieldCheck-is-checked ~ & {

    &:after {
      opacity: 1;
    }

  }

}

$submit-background: $yellow;
$submit-color: $blue-700;

.submit {
  background: $submit-background;
  color: $submit-color;
  border-radius: 5px;
  height: 45px;

  &:disabled {
    opacity: .5;
  }

}