// White

$white-100: #fff;

$white: $white-100;



// Black

$black-500: #111;
$black-900: #000;

$black: $black-900;



// Gray

$gray-100: #e7e7e7;
$gray-300: #b1b1b1;
$gray-500: #999;
$gray-700: #5c5c5c;
$gray-900: #202934;

$gray: $gray-500;


// Red

$red-100: #ff978c;
$red-300: #f26d61;
$red-500: #ff1600;
$red-700: #a62934;
$red-900: #8c232c;

$red: $red-500;



// Blue

$blue-50: #f8fcff;
$blue-100: #f0f9ff;
$blue-200: #cad9e3;
$blue-300: #b7cfdf;
$blue-500: #2370be;
$blue-700: #051f61;
$blue-900: #0d2a72;

$blue: $blue-500;



// Purple

$purple-500: #af1fcc;

$purple: $purple-500;



// Yellow

$yellow-500: #fac76e;

$yellow: $yellow-500;



// Green

$green-100: #9ff26b;
$green-300: #77eb67;
$green-500: #29cc5f;
$green-700: #39ad6f;
$green-900: #298a73;

$green: $green-500;



// Social Networks

$facebookColor: #3b5998;
$twitterColor: #0084b4;
$vkColor: #507299;
$okColor: #ee8208;
$instagramColor: #8a3ab9;
$youTubeColor: #e52d27;
